{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="GET" action="/search">

    <!-- <div class="form-group">
      <label for="authorName" class="col-sm-2 control-label">Author Name</label>
      <div class="col-sm-10">
        <input name="authorName" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="authorEmail" class="col-sm-2 control-label">Author Email</label>
      <div class="col-sm-10">
        <input name="authorEmail" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Page Title</label>
      <div class="col-sm-10">
        <input name="title" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="pageContent" class="col-sm-2 control-label">Page Content</label>
      <div class="col-sm-10">
        <input name="pageContent" type="textarea" class="form-control"/>
      </div>
    </div> -->

    <div class="form-group">
      <label for="tags" class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-10">
        <input name="tags" type="textarea" class="form-control"/>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="pageStatus" class="col-sm-2 control-label">Page Status</label>
      <div class="col-sm-10">
        <input name="pageStatus" type="radio" class="form-control" value="open" checked/>open
        <input name="pageStatus" type="radio" class="form-control" value="closed"/>closed
      </div>
    </div> -->

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>

  </form>
{% endblock %}
