{% extends "layout.html" %}

{% block content %}
  <h3>{{ page.title }} <small> (<a href="{{ page.urlTitle }}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">PLACEHOLDER AUTHOR NAME</a></h4>
  <div>{{page.tags.join(", ")}}</div>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>

  <div class="page-body">
    {{ page.content }}
  </div>

  <hr/>
  <a href="{{ page.urlTitle }}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{ page.urlTitle }}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
